{% extends '@loading/base.twig' %}

{% block title %}Fusion | K-Load{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ site.url }}/themes/metra/assets/css/grid.css"/>
    <link rel="stylesheet" href="{{ assets_theme }}/css/fusion.css?{{ cache_buster }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,600">
    <style>
        body:before {
            background-image: url({{assets}}/img/backgrounds/global/particles_blue.jpg);
        }
    </style>
{% endblock %}


{% block body %}
    <div class="overlay"></div>

    <div id="container" class="pure-center" style="top: 47.5%;">
        <div class="header">
            <img class="avatar" style="max-width: 65px;"
                 src="{{ user.avatarLarge|default(assets ~ '/img/avatar.jpg') }}">
            <div style="margin-left: 10px">
                <h1 style="text-transform: uppercase;">{{ settings.community_name }}</h1>
                <h3 style="margin-top: -12px;">{{ lang('you_are_now_joining') }} <span class="server-name"></span></h3>
            </div>
        </div>
        <div class="row">
            <!-- about us -->
            <div class="col xl-3 block">
                <div>
                    <div class="block-item block-header">
                        <h2>{{ lang('about_us') }}</h2>
                    </div>
                    <div class="block-item block-content">
                        <div class="absolute-align-vertical" style="top: 45%;padding: 15px;">
                            <p>{{ settings.description }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- rules -->
            <div id="rules-parent" class="col xl-3 block">
                <div>
                    <div class="block-item block-header">
                        <h2>{{ lang('rules') }}</h2>
                    </div>
                    <div class="block-item block-content no-padding">
                        <div id="k-load-rules">
                        </div>
                    </div>
                </div>
            </div>

            <!-- staff -->
            <div id="staff-parent" class="col xl-3 block">
                <div>
                    <div class="block-item block-header">
                        <h2>{{ lang('staff') }}</h2>
                    </div>
                    <div class="block-item block-content">
                        <div id="k-load-staff"></div>
                    </div>
                </div>
            </div>

            <!-- music -->
            <div id="music" class="col xl-3 block hide">
                <div>
                    <div class="block-item block-header">
                        <h2>{{ lang('now_playing') }}</h2>
                    </div>
                    <div class="block-item block-content">
                        <div class="absolute-align-vertical center-text" style="top: 45%;padding: 15px;">
                            <h1 style="font-size: 7.5rem;">&#9835;</h1>
                            <h3 class="youtube-playing-title"></h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- info -->
            <div class="col xl-3 block">
                <div>
                    <div class="block-item block-header">
                        <h2>{{ lang('information') }}</h2>
                    </div>
                    <div class="block-item block-content no-padding">
                        <div class="absolute-align-vertical">
                            <h2 class="info server-name"></h2>
                            <h2 class="info"><span class="max-players"></span> {{ lang('max_players') }}</h2>
                            <h2 class="info map"></h2>
                            <h2 class="info gamemode"></h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- percentage -->
            <div id="percentage" class="col xl-3 block hide">
                <div>
                    <div class="block-item block-header">
                        <h2>{{ lang('progress') }}</h2>
                    </div>
                    <div class="block-item block-content">
                        <div class="absolute-align-vertical center-text" style="top: 47%;padding: 15px;">
                            <h1 class="progress"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loading-bar"></div>
            <div class="center-text">
                <p class="messages"></p>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        staff_per_page = 5;

        function GameDetails_custom(servername, serverurl, mapname, maxplayers, steamid, gamemode) {
            const gamemodeRules = checkGamemode(gamemode, rules.list);
            const gamemodeStaff = checkGamemode(gamemode, staff.list);

            if (!gamemodeRules) {
                document.getElementById('rules-parent').style.display = 'none';
                showMusicBlock();
            }
            if (!gamemodeStaff) {
                document.getElementById('staff-parent').style.display = 'none';
                showPercentageBlock();
            }
        }

        function showMusicBlock() {
            document.getElementById('music').style.display = 'inline-block';
        }

        function showPercentageBlock() {
            document.getElementById('percentage').style.display = 'inline-block';
        }
    </script>
{% endblock %}