{% extends 'base.twig' %}

{% block title %}{{ lang('settings') }} | K-Load{% endblock %}
{% block nav_title %}{{ lang('settings') }}{% endblock %}

{% block content %}
    {% if user.admin %}
        <div class="row" style="padding-top:15px;padding-bottom:15px;">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <p>Background settings have moved to: <a href="{{ site.path ~ '/dashboard/admin/backgrounds' }}">{{ site.host ~ site.path ~ '/dashboard/admin/backgrounds' }}</a></p>
                        <p>YouTube settings have moved to: <a href="{{ site.path ~ '/dashboard/admin/music' }}">{{ site.host ~ site.path ~ '/dashboard/admin/music' }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <form method="post" action="{{ site.path }}/dashboard/admin/general">
                    {{ csrf() }}

                    {% if user.super or user.perms.community_name or user.perms.backgrounds %}
                        <div class="card">
                            <div class="card-content">
                                <h1 class="flow-text"><span class="mdi mdi-settings"></span> {{ lang('general') }}</h1>
                                <div class="row">
                                    {% if user.super or user.perms.community_name %}
                                        <div class="input-field col s12">
                                            <input name="community_name" type="text" class="validate"
                                                   value="{{ settings.community_name }}">
                                            <label>{{ lang('community_name') }}</label>
                                        </div>
                                    {% endif %}
                                    {% if user.super or user.perms.description %}
                                        <div class="input-field col s12">
                                        <textarea id="k-load-settings-descriptiion" name="description"
                                                  class="materialize-textarea">{{ settings.description }}</textarea>
                                            <label for="k-load-settings-descriptiion">{{ lang('description') }}</label>
                                            <span class="counter"
                                                  data-max="250">{{ settings.description|length }}/250</span>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="center">
                                    <button class="btn blue" type="submit" name="save" value="1">Save</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>

    {% endif %}
{% endblock %}


{% block js %}
    <script>
        function createElem_youtube() {
            return elem('div', {className: 'input-field child'},
                elem('input', {
                    type: 'text',
                    className: 'validate',
                    name: 'youtube[list][]',
                    placeholder: '{{ lang('youtube') }} URL',
                    style: 'width:80%;'
                }),
                elem('a', {className: 'btn-floating delete-elem red'},
                    elem('i', {className: 'mdi mdi-delete'})
                )
            );
        }
    </script>
{% endblock %}
