{% extends 'base.twig' %}

{% block title %}Settings | K-Load{% endblock %}
{% block nav_title %}Settings{% endblock %}

{% block content %}
    {% if user.admin %}
        <form method="post" action="{{ site.path }}/dashboard/admin/general" class="row" style="padding-top:15px;padding-bottom:15px;">
            {{ csrf|raw }}

            {% if user.super or user.perms.community_name or user.perms.backgrounds %}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="flow-text"><span class="mdi mdi-settings"></span> General</h1>
                            <div class="row">
                                {% if user.super or user.perms.community_name %}
                                    <div class="input-field col s12">
                                        <input name="community_name" type="text" class="validate" value="{{ settings.community_name }}">
                                        <label>Community Name</label>
                                    </div>
                                {% endif %}
                                {% if user.super or user.perms.description %}
                                    <div class="input-field col s12">
                                        <textarea id="k-load-settings-descriptiion" name="description" class="materialize-textarea">{{ settings.description }}</textarea>
                                        <label for="k-load-settings-descriptiion">Description</label>
                                        <span class="counter" data-max="250">{{ settings.description|length }}/250</span>
                                    </div>
                                {% endif %}
                                {% if user.super or user.perms.backgrounds %}
                                    <div class="col s12 center">
                                        <h6>Background settings have moved to</h6>
                                        <a href="{{ site.path }}/dashboard/admin/backgrounds">{{ site.host }}/dashboard/admin/backgrounds</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if user.super or user.perms.youtube %}
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <h1 class="flow-text"><span class="mdi mdi-youtube"></span>YouTube</h1>
                            <p class="center">
                                Youtube settings have been moved to
                                <a href="{{ site.url }}/dashboard/admin/music">{{ site.url }}/dashboard/admin/music</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="fixed-action-btn">
                <button id="save-btn" class="btn-floating btn-large blue tooltipped" data-position="top" data-tooltip="Save" type="submit" name="save" value="1"><span class="mdi mdi-content-save"></span></button>
            </div>

        </form>
    {% endif %}
{% endblock %}


{% block js %}
    <script>
        function createElem_youtube() {
            return elem('div', {className: 'input-field child'},
                elem('input', {
                    type: 'text',
                    className: 'validate',
                    name: 'youtube[list][]',
                    placeholder: 'YouTube URL',
                    style: 'width:80%;'
                }),
                elem('a', {className: 'btn-floating delete-elem red'},
                    elem('i', {className: 'mdi mdi-delete'})
                )
            );
        }
    </script>
{% endblock %}
