{% extends 'base.twig' %}

{% block title %}Admin | K-Load{% endblock %}
{% block nav_title %}Admin{% endblock %}

{% block css_body %}
    <style>
        a.btn {
            width: 215px;
            margin-bottom: 6px;
        }
    </style>
{% endblock %}
{% block content %}
    {% if user.super %}
        <div class="row">

            <div class="col s12 m8">
                <h3>{{ lang('config') }}</h3>

                <div class="card">
                    <div class="card-content">
                        <h1 class="flow-text" style="margin:0">{{ lang('server_cfg_notice') }}:</h1>
                        <pre style="padding: 5px 4px;background-color:#161927;overflow: auto;"><code
                                    style="color: #27ff2f;">sv_loadingurl "{{ site.url }}?steamid=%s&mapname=%m"</code></pre>
                        <small>copy and paste this in, if this already exists in your server.cfg, change the value to
                            the URL
                        </small>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content row">
                        <form action="{{ site.path ~ '/dashboard/admin?action=update_apikeys' }}" method="post">
                            {{ csrf() }}
                            <div class="input-field col s12">
                                <input name="apikeys[steam]" type="text" class="validate" value="{{ api_keys.steam }}"
                                       autocomplete="off" autocapitalize="off" spellcheck="false">
                                <label>Steam API Key</label>
                            </div>
                            <div class="col s12 right-align">
                                <button type="submit" name="save_apikeys" class="btn">
                                    {{ lang('save') }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content row">
                        <div class="col s12">
                            <h1 class="card-title">{{ lang('default_theme') }}</h1>
                        </div>
                        <form action="{{ site.path ~ '/dashboard/admin?action=update_theme' }}" method="post">
                            {{ csrf() }}
                            {% include '@partials/backgrounds.twig' with {'themes': themes, 'value': theme, 'hide_xl': 1} only %}
                            <div class="col s12 center-align">
                                <button type="submit" name="save_theme" class="btn">
                                    {{ lang('save') }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <h3>{{ lang('tools') }}</h3>

                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">{{ lang('updates') }}</h1>
                        <div class="center-align">
                            <p>{{ lang('current_version') }}: {{ version }}</p>
                            {% if updates.amount > 0 %}
                                <p>{{ lang('latest_version_available') }}: {{ updates.latest }}</p>
                                <p>{{ lang('updates_available', updates.amount) }}</p>
                            {% endif %}
                            <br>
                            {% if updates.amount > 0 %}
                                <a href="{{ site.path }}/dashboard/admin?action=update" class="btn">Update</a>
                            {% endif %}
                            <a href="{{ site.path }}/dashboard/admin?action=refresh_themes"
                               class="btn btn-danger tooltipped" data-tooltip="Fixes the config to display all themes">{{ lang('refresh_themes') }}</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">{{ lang('clear_cache') }}</h1>
                        <div class="center-align">
                            <a href="{{ site.path }}/dashboard/admin?action=clear_cache" class="btn btn-danger">{{ lang('cache_all') }}</a>
                            <a href="{{ site.path }}/dashboard/admin?action=clear_cache_data" class="btn">{{ lang('cache_data') }}</a>
                            <a href="{{ site.path }}/dashboard/admin?action=clear_cache_template" class="btn">{{ lang('cache_template') }}</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">{{ lang('users') }}</h1>
                        <div class="center-align">
                            <a href="{{ site.path }}/dashboard/admin?action=refresh_css" class="btn">{{ lang('recompile_css') }}</a>
                            <a href="{{ site.path }}/dashboard/admin?action=unban_all" class="btn btn-danger">{{ lang('unban_all') }}</a>
                            <a href="{{ site.path }}/dashboard/admin?action=reset_perms" class="btn btn-danger">{{ lang('reset_perms') }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $('.btn').click(function () {
            return window.confirm('Are you sure you want to do this?');
        });

        $(document).ready(function () {
            $('.materialboxed').materialbox();
        });
    </script>
{% endblock %}
