{% extends 'base.twig' %}

{% block title %}Admin | K-Load{% endblock %}
{% block nav_title %}Admin{% endblock %}

{% block css_body %}
    <style>
        a.btn {
            width: 215px;
            margin-bottom: 6px;
        }
    </style>
{% endblock %}
{% block content %}
    {% if user.super %}
        <div class="row">

            <div class="col s12 m8">
                <h3>Config</h3>

                <div class="card">
                    <div class="card-content">
                        <h1 class="flow-text" style="margin:0">Your server.cfg you should have this:</h1>
                        <pre style="padding: 5px 4px;background-color:#161927;"><code style="color: #27ff2f;background-color:#161927;">sv_loadingurl "{{ site.url }}?steamid=%s&mapname=%m"</code></pre>
                        <small>copy and paste this in, if it already exists change the value</small>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content row">
                        <form action="{{ site.path ~ '/dashboard/admin?action=update_apikeys' }}" method="post">
                            {{ csrf|raw }}
                            <div class="input-field col s12">
                                <input name="apikeys[steam]" type="text" class="validate" value="{{ api_keys.steam }}" autocomplete="off" autocapitalize="off" spellcheck="false" >
                                <label>Steam API Key</label>
                            </div>
                            <div class="col s12 right-align">
                                <input type="submit" name="save_apikeys" class="btn" value="Save">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content row">
                        <div class="col s12">
                            <h1 class="card-title">Default Theme</h1>
                        </div>
                        <form action="{{ site.path ~ '/dashboard/admin?action=update_theme' }}" method="post">
                            {{ csrf|raw }}
                            {% include '@partials/backgrounds.twig' with {'themes': themes, 'value': theme, 'hide_xl': 1} only %}
                            <div class="col s12 center-align">
                                <input type="submit" name="save_theme" class="btn" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <h3>Tools</h3>

                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">Updates</h1>
                        <div class="center-align">
                            <p>Current Version: {{ version }}</p>
                            {% if updates.amount > 0 %}
                                <p>There {% if updates.amount != 1 %}are{% else %}is{% endif %} currently <span
                                            class="{% if updates.amount > 0 %}green-text{% endif %}">{{ updates.amount }}</span>
                                    update(s)</p>
                                <p>The latest version available is {{ updates.latest }}</p>
                            {% endif %}
                            <br>
                            {% if updates.amount > 0 %}
                                <a href="{{ site.path }}/dashboard/admin?action=update" class="btn">Update</a>
                            {% endif %}
                            <a href="{{ site.path }}/dashboard/admin?action=refresh_themes" class="btn btn-danger tooltipped" data-tooltip="Fixes the config to display all themes">Refresh Themes</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">Clear Cache</h1>
                        <div class="center-align">
                            <a href="{{ site.path }}/dashboard/admin?action=clear_cache" class="btn btn-danger">All Cache</a>
                            <a href="{{ site.path }}/dashboard/admin?action=clear_cache_data" class="btn">Data
                                Cache</a>
                            <a href="{{ site.path }}/dashboard/admin?action=clear_cache_template" class="btn">Template
                                Cache</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">Users</h1>
                        <div class="center-align">
                            <a href="{{ site.path }}/dashboard/admin?action=refresh_css" class="btn">Recompile
                                CSS</a>
                            <a href="{{ site.path }}/dashboard/admin?action=unban_all" class="btn btn-danger">Unban All</a>
                            <a href="{{ site.path }}/dashboard/admin?action=reset_perms" class="btn btn-danger">Reset Perms</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $('.btn').click(function () {
            return window.confirm('Are you sure you want to do this?');
        });

        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });
    </script>
{% endblock %}
