{% extends 'base.twig' %}

{% block title %}Messages | K-Load{% endblock %}
{% block nav_title %}Messages{% endblock %}

{% block css_body %}
    <style>
        .card-content {
            position: relative;
        }

        .cat.delete-elem {
            z-index: 1;
            cursor: pointer;
            position: absolute;
            top: 6px;
            right: 6px;
            width: 28px;
            height: 28px;
            background-color: transparent;
            font-size: 1.25rem;
            border: none;
            border-radius: 50%;
        }
    </style>
{% endblock %}
{% block content %}
    {% include '@partials/gamemode-examples.twig' %}

    <form method="post" action="{{ site.path }}/dashboard/admin/messages" class="row"
          style="padding-top:15px;padding-bottom:15px;">
        {{ csrf|raw }}

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <p>Randomize Messages?</p>
                                <div class="switch">
                                    <label>
                                        No
                                        <input type="checkbox" name="messages[random]" value="1" {% if settings.messages.random %}checked{% endif %} />
                                        <span class="lever"></span>
                                        Yes
                                    </label>
                                </div>
                            </div>
                            <div class="input-field col s12 m6">
                                <p>Message Duration</p>
                                <input name="messages[duration]" type="number" placeholder="e.g. 5000"
                                       class="tooltipped" data-tooltip="1s = 1000ms"
                                       value="{{ settings.messages.duration }}">
                            </div>
                            <div class="input-field col s12 m6">
                                <p>Message Fade</p>
                                <input name="messages[fade]" type="number" placeholder="e.g. 750" class="tooltipped"
                                       data-tooltip="1s = 1000ms" value="{{ settings.messages.fade }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="message_categories" class="row">
            {% for gamemode, messages in settings.messages.list %}
                <div class="col s12 child">
                    <div class="card">
                        <span class="mdi mdi-close red-text delete-elem cat"></span>
                        <div class="card-content">
                            <label>Gamemode</label>
                            <input class="gamemode" type="text" placeholder="gamemode" value="{{ gamemode }}"
                                   oninput="fixGamemode(this)" required/>
                            <label>Messages</label>
                            <div class="messages">
                                {% for message in messages %}
                                    <div class="input-field child">
                                        <input type="text" name="messages[list][{{ gamemode }}][]" value="{{ message }}"
                                               oninput="fixGamemode(this, true)" style="width: 80%">
                                        <a class="btn-floating red delete-elem"><i class="mdi mdi-delete"></i></a>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="btn blue add-elem" data-type="message" data-parent=".messages">Add Message</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col s12 right-align">
            <a class="btn green add-elem" data-type="message_cat" data-parent="#message_categories">Add Gamemode</a>
        </div>

        <div class="fixed-action-btn">
            <button id="save-btn" class="btn-floating btn-large blue tooltipped" data-position="top" data-tooltip="Save"
                    type="submit" name="save" value="1"><span class="mdi mdi-content-save"></span></button>
        </div>

    </form>
{% endblock %}


{% block js %}
    <script>
        function fixGamemode(elem, isChildren = false) {
            if (!isChildren) {
                var gamemode = elem.value;
                var messages = $(elem).next().next('.messages').children();
                $('.gamemode-text').text(gamemode);
            } else {
                var gamemode = $(elem).parent().parent().parent().find('.gamemode');
                if (gamemode.length > 0) {
                    gamemode = gamemode[0].value;
                    var messages = $(elem).parent().parent().find('.input-field.child');
                }
            }

            if (messages.length > 0) {
                $.each(messages, function (key, child) {
                    var input = $(child).find('input')[0];
                    input.setAttribute('name', 'messages[list][' + gamemode + '][]');
                });
            }
        }

        function createElem_message_cat() {
            return elem('div', {className: 'col s12 child'},
                elem('div', {className: 'card'},
                    elem('span', {className: 'mdi mdi-close red-text delete-elem cat'}),
                    elem('div', {className: 'card-content'},
                        elem('label', {innerText: 'Gamemode'}),
                        elem('input', {
                            className: 'gamemode',
                            type: 'text',
                            placeholder: 'gamemode',
                            onInput: 'fixGamemode(this)',
                            required: true
                        }),
                        elem('label', {innerText: 'Messages'}),
                        elem('div', {className: 'messages'}),
                        elem('a', {
                            className: 'btn blue add-elem',
                            innerText: 'Add message',
                            'data-type': 'message',
                            'data-parent': '.messages'
                        })
                    )
                )
            );
        }

        function createElem_message() {
            return elem('div', {className: 'input-field child'},
                elem('input', {
                    type: 'text',
                    name: 'messages[list][global][]',
                    onInput: 'fixGamemode(this, true)',
                    style: 'width: 80%'
                }),
                elem('a', {className: 'btn-floating red delete-elem'},
                    elem('i', {className: 'mdi mdi-delete'})
                )
            );
        }
    </script>
{% endblock %}
