<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://steamcdn-a.akamaihd.net">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    {% block css %}{% endblock %}
</head>
<body>
{% if user.custom_css %}
    <style>{{ user.custom_css }}</style>
{% endif %}
{% block body %}{% endblock %}
<script>
    var loadingData = {{ data|raw }};
    var site = {{ site_json }};
    var backgrounds = loadingData.settings.backgrounds;
    var youtube = loadingData.settings.youtube;
    var music = loadingData.settings.music;
    var messages = loadingData.settings.messages;
    var rules = loadingData.settings.rules;
    var staff = loadingData.settings.staff;
    var rules_per_page = staff_per_page = 7;
    var rules_fade_delay = staff_fade_delay = 750;
    var forcedGamemode = '{{ forcedGamemode }}';
</script>
<script src="{{ assets }}/js/loading/kload.js?{{ cache_buster }}"></script>
{% block js %}{% endblock %}
<script>KLoad.init();</script>
</body>
</html>
