{% extends 'app.twig' %}

{% set dragula = true %}

{% block content %}
    <div class="container px-4 py-6">
        <div class="columns">
            <div class="column is-half-desktop">
                <div class="card">
                    <div class="card-header-title"><i
                                class="fas fa-comment-alt title-icon"></i>{{ lang('background_settings') }}</div>
                    <div class="card-content">
                        <div class="pt-1 columns is-desktop is-multiline">
                            <div class="column is-half-desktop">
                                <div class="field">
                                    <div class="field-body">
                                        <label class="checkbox is-custom">
                                            {{ lang('enable_question') }}
                                            <input type="checkbox" value="1" name="backgrounds[enable]"
                                                   {% if old.backgrounds.enable|default(settings.backgrounds.enable) %}checked{% endif %}>
                                            <span class="switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half-desktop">
                                <div class="field">
                                    <div class="field-body">
                                        <label class="checkbox is-custom">
                                            {{ lang('randomize_question') }}
                                            <input type="checkbox" value="1" name="backgrounds[random]"
                                                   {% if old.backgrounds.random|default(settings.backgrounds.random) %}checked{% endif %}>
                                            <span class="switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-half-desktop">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{ lang('duration') }}</label>
                                    </div>
                                    <div class="field-body">
                                        <input class="input" type="number" name="backgrounds[duration]"
                                               value="{{ old.backgrounds.duration|default(settings.backgrounds.duration) }}">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half-desktop">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">{{ lang('fade') }}</label>
                                    </div>
                                    <div class="field-body">
                                        <input class="input" type="number" name="backgrounds[fade]"
                                               value="{{ old.backgrounds.fade|default(settings.backgrounds.fade) }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half-desktop">
                {{ include('@partials/gamemode-help.twig') }}
            </div>
        </div>

    </div>
{% endblock %}