{% extends 'app.twig' %}

{% block bodyCss %}
    <style>
        #drop_zone {
            border: 5px solid blue;
            width: 200px;
            height: 100px;
        }

        .file-upload {
            background-color: rgba(255, 255, 255, .1);
        }

        .horizontal-separator {
            margin: .75rem 0;
        }

        #logo-preview {
            margin: auto;
            max-width: 300px;
        }

        #logo-preview > img[src=""] {
            display: none;
        }

        #logo-preview > img[src*="assets/img/logo"] + div {
            display: none;
        }

        #logo-preview > div, #logo-upload-drag-drop {
            background-color: rgba(255, 255, 255, .1);
            border: 1px solid transparent;
        }

        #logo-upload-drag-drop {
            cursor: pointer;
            transition: background-color .2s ease, border-color .2s ease;
        }

        #logo-upload-drag-drop > * {
            pointer-events: none;
        }

        #logo-upload-drag-drop:hover, #logo-upload-drag-drop.file-dragged {
            /*background-color: rgba(255,255,255,.03);*/
            background-color: rgba(0, 0, 0, .05);
            border-color: rgba(255, 255, 255, .1);;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container px-4 py-6">
        <div class="columns is-multiline is-mobile">
            <div class="column">
                <div class="card quick-settings">
                    <div class="card-header-title">
                        {{ lang('general') }}
                    </div>
                    <div class="card-content">
                        <div class="columns is-multiline is-mobile">
                            <div class="column is-full">
                                <div>
                                    <h1 class="header has-text-centered">Logo</h1>
                                    <div class="mt-5">
                                        <div class="columns is-centered is-mobile">
                                            {% if logos is not empty %}
                                                <div class="column is-three-fifths-desktop">
                                                    <form id="logo-select" action="{{ app.current_route ~ '/logo' }}"
                                                          method="post">
                                                        {{ csrf(app.current_route ~ '/logo') }}

                                                        <div class="has-text-centered">
                                                            <div id="logo-preview">
                                                                <img class="my-3"
                                                                     src="{% if settings.logo %}{{ asset('img/logos/' ~ settings.logo) }}{% endif %}"
                                                                     alt="">
                                                                <div class="my-4 py-6 site-border-radius">
                                                                    <i class="fas fa-image is-size-1 mb-4"></i>
                                                                    <h1>{{ lang('no_logo', 'No logo set') }}</h1>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="field has-addons has-addons-centered">
                                                            <div class="control">
                                                                <div class="select">
                                                                    <select name="logo">
                                                                        {% if not settings.logo %}
                                                                            <option selected
                                                                                    disabled>{{ lang('select_logo', 'Select logo') }}</option>
                                                                        {% endif %}
                                                                        {% for logo in logos %}
                                                                            <option value="{{ logo }}"{% if settings.logo == logo %} selected{% endif %}>{{ logo }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="control">
                                                                <div class="select">
                                                                    <select name="action">
                                                                        <option value="set"
                                                                                selected>{{ lang('set') }}</option>
                                                                        <option value="delete">{{ lang('delete') }}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="control">
                                                                <button type="submit"
                                                                        class="button">{{ lang('save') }}</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            {% endif %}
                                            <div class="column is-two-fifths-desktop">
                                                <form id="logo-upload" action="{{ app.current_route }}/logo-upload"
                                                      method="post" enctype="multipart/form-data">
                                                    {{ csrf(app.current_route ~ '/logo-upload') }}

                                                    <input class="is-hidden" type="file" name="logo-files[]"
                                                           accept=".jpg,.jpeg,.png"
                                                           multiple>

                                                    <div class="pt-2">
                                                        <div id="logo-upload-drag-drop"
                                                             class="py-6 has-text-centered site-border-radius">
                                                            <i class="mb-4 fas fa-upload is-size-1"></i>
                                                            <h1>{{ lang('drag_drop_click_upload') }}</h1>
                                                            <p class="mt-4 file-names"></p>
                                                        </div>
                                                        <img id="logo-upload-preview" src="" alt="">
                                                    </div>

                                                    <div class="mt-1 has-text-centered">
                                                        <button class="button is-outlined is-info-button"><i
                                                                    class="fas fa-upload mr-2"></i>{{ lang('upload') }}
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-full">
                                <hr class="horizontal-separator">
                            </div>
                            <div class="column is-full mb-2">
                                <form action="{{ app.current }}" method="post">
                                    {{ csrf }}
                                    <div>
                                        {% if can('community_name') %}
                                            <div class="field is-horizontal">
                                                <div class="field-label">
                                                    <label class="label">{{ lang('community_name') }}</label>
                                                </div>
                                                <div class="field-body">
                                                    <input class="input" type="text" name="community_name"
                                                           value="{{ old.community_name|default(settings.community_name) }}">
                                                </div>
                                            </div>
                                            <div class="field is-horizontal">
                                                <div class="field-label">
                                                    <label class="label">{{ lang('description') }}</label>
                                                </div>
                                                <div class="field-body">
                                                    <input class="input" type="text" name="description"
                                                           value="{{ old.description|default(settings.description) }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="mt-3 has-text-centered">
                                        <button class="button is-outlined is-save-button"><i
                                                    class="fas fa-save mr-2"></i>{{ lang('save') }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bodyJs %}
    <script>
        function updatePreview(selector, file) {
            const element = document.querySelector(selector)
            element.src = URL.createObjectURL(file)
        }

        const logoPreview = document.querySelector('#logo-preview > img')
        const logoForm = document.querySelector('#logo-select')
        const logoSelect = logoForm.querySelector('select')

        logoForm.addEventListener('submit', ev => {
            const data = new FormData(ev.target)
            const entries = [...data.entries()]

            if (entries[2][0] === 'action' && entries[2][1] === 'delete' && !window.confirm('Are you sure you want to delete this logo?')) {
                ev.preventDefault();
            }
        });

        logoSelect.addEventListener('change', ev => {
            logoPreview.src = app.url + '/assets/img/logos/' + ev.target.value;
        });

        const logoUploadForm = document.getElementById('logo-upload')
        const logoUploadFormData = new FormData(logoUploadForm)
        const logoUpload = logoUploadForm.querySelector('input[type=file]')
        const logoDragDrop = document.getElementById('logo-upload-drag-drop')

        logoUpload.onchange = updateLogoUploadNames;

        function updateLogoUploadNames() {
            if (logoUpload.files.length) {
                let fileNames = [];

                [...logoUpload.files].forEach(item => {
                    fileNames.push(item.name)
                    logoUploadFormData.append('logo-files', item, item.name)
                })

                logoUploadForm.querySelector('.file-names').innerHTML = fileNames.join('<br>')
            } else {
                logoUploadFormData.set('logo-files', '')
                logoUploadForm.querySelector('.file-names').innerHTML = ''
            }
        }

        function addRemoveClass(element, cssClass, removeClass) {
            if (removeClass && element.classList.contains(cssClass)) {
                element.classList.remove('file-dragged')
            } else if (!element.classList.contains(cssClass)) {
                element.classList.add(cssClass)
            }
        }

        logoDragDrop.addEventListener('click', (ev) => {
            logoUpload.click()
        })
        logoDragDrop.addEventListener('dragover', (ev) => {
            ev.preventDefault();
        })
        logoDragDrop.addEventListener('dragenter', (ev) => {
            ev.preventDefault();
            addRemoveClass(logoDragDrop, 'file-dragged')
        })
        logoDragDrop.addEventListener('dragleave', (ev) => {
            ev.preventDefault();
            addRemoveClass(logoDragDrop, 'file-dragged', true)

        })
        logoDragDrop.addEventListener('drop', (ev) => {
            ev.preventDefault();

            logoUpload.files = ev.dataTransfer.files;

            addRemoveClass(logoDragDrop, 'file-dragged', true);

            updateLogoUploadNames();
        })

    </script>
{% endblock %}