<div class="container">
    <a href="#" data-target="side-nav" class="top-nav sidenav-trigger full hide-on-large-only">
        <span class="mdi mdi-menu" style="display: block;"></span>
    </a>
</div>

<ul id="side-nav" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <a class="is-image">
                <img class="circle" style="border-radius: 3px" src="{{ user.avatarLarge }}"
                     onerror="this.src='{{ assets }}/img/avatar.jpg'">
            </a>
            <br>
            <a href="#name">
                <span class="white-text name">{{ user.name }}</span>
            </a>
            <a href="{{ user.profileurl }}" target="_blank">
                <span class="white-text email">{{ user.steamid2 }} <span class="mdi mdi-open-in-new"></span></span>
            </a>
        </div>
    </li>


    <li class="bold{% if (site.url ~ '/dashboard') == site.current %} active{% endif %}">
        <a href="{{ site.path }}/dashboard">
            <span class="mdi mdi-home-outline"></span>
            {{ lang('home') }}
        </a>
    </li>
    <li class="bold{% if (site.url ~ '/dashboard/settings') == site.current %} active{% endif %} tooltipped"
        data-delay="100" data-position="right" data-tooltip="{{ lang('my_settings_tooltip') }}">
        <a href="{{ site.path }}/dashboard/settings">
            <span class="mdi mdi-tune"></span>
            {{ lang('my_settings') }}
        </a>
    </li>

    <li class="bold{% if (site.url ~ '/dashboard/users') in site.current %} active{% endif %}">
        <a href="{{ site.path }}/dashboard/users">
            <span class="mdi mdi-account-multiple"></span>
            {{ lang('users') }}
        </a>
    </li>
    {% if (user.admin and user.perms|length > 0) or user.super %}
        <li>
            <ul class="collapsible collapsible-accordion">
                <li class="bold {% if (site.url ~ '/dashboard/admin') in site.current %}active{% endif %}">
                    <a class="collapsible-header tooltipped"
                       data-delay="100" data-position="right"
                       data-tooltip="{{ lang('admin_tooltip') }}">
                        <span class="mdi mdi-wrench"></span>
                        {{ lang('admin') }}
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="{% if (site.url ~ '/dashboard/admin') == site.current %}active{% endif %}">
                                <a href="{{ site.path }}/dashboard/admin">{{ lang('home') }}</a>
                            </li>
                            {% if user.super %}
                                <li class="{% if (site.url ~ '/dashboard/admin/core') == site.current %}active{% endif %}">
                                    <a href="{{ site.path }}/dashboard/admin/core">{{ lang('core') }}</a>
                                </li>
                            {% endif %}
                            {% if can('community_name') or can('description') %}
                                <li class="{% if (site.url ~ '/dashboard/admin/general') == site.current %}active{% endif %}">
                                    <a href="{{ site.path }}/dashboard/admin/general">{{ lang('general') }}</a>
                                </li>
                            {% endif %}
                            {% if can('backgrounds') %}
                                <li class="{% if (site.url ~ '/dashboard/admin/backgrounds') == site.current %}active{% endif %}">
                                    <a href="{{ site.path }}/dashboard/admin/backgrounds">{{ lang('backgrounds') }}</a>
                                </li>
                            {% endif %}
                            {% if can('messages') %}
                                <li class="{% if (site.url ~ '/dashboard/admin/messages') == site.current %}active{% endif %}">
                                    <a href="{{ site.path }}/dashboard/admin/messages">{{ lang('messages') }}</a>
                                </li>
                            {% endif %}
                            {% if can('music') %}
                                <li class="{% if (site.url ~ '/dashboard/admin/music') == site.current %}active{% endif %}">
                                    <a href="{{ site.path }}/dashboard/admin/music">{{ lang('music') }}</a>
                                </li>
                            {% endif %}
                            {% if can('rules') %}
                                <li class="{% if (site.url ~ '/dashboard/admin/rules') == site.current %}active{% endif %}">
                                    <a href="{{ site.path }}/dashboard/admin/rules">{{ lang('rules') }}</a>
                                </li>
                            {% endif %}
                            {% if can('staff') %}
                                <li class="{% if (site.url ~ '/dashboard/admin/staff') == site.current %}active{% endif %}">
                                    <a href="{{ site.path }}/dashboard/admin/staff">{{ lang('staff') }}</a>
                                </li>
                            {% endif %}
                            {% if can('themes') %}
                                <li class="{% if (site.url ~ '/dashboard/admin/themes') == site.current %}active{% endif %}">
                                    <a href="{{ site.path }}/dashboard/admin/themes">{{ lang('themes') }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    {% endif %}
    <li class="logout">
        <a class="waves-effect waves-red" href="{{ site.path }}/dashboard/logout">
            <span class="mdi mdi-logout"></span>
            {{ lang('logout') }}
        </a>
    </li>
</ul>