<div class="upload-details">
    <p class="flow-text">{{ lang('upload_limits') }}</p>
    <small>{{ lang('upload_limit_notice') }}</small>
    <ul class="browser-default">
        <li>{{ lang('max_uploads', app.max_file_uploads) }}</li>
        <li>{{ lang('max_file_size', app.upload_max_filesize) }}</li>
        <li>{{ lang('max_post_size', app.post_max_size) }}</li>
        <li>{{ lang('true_max_uploads', app.true_max_file_uploads) }}</li>
    </ul>
</div>