{% extends '@loading/base.twig' %}

{% block title %}Eris | K-Load{% endblock %}

{# SMALL CONFIG #}
{% set settings = settings|merge({'block_1': {
    'icon': 'fab fa-steam-symbol',
    'text': 'group'
}}) %}
{% set settings = settings|merge({'block_2': {
    'icon': 'fas fa-globe',
    'text': 'www.example.com'
}}) %}
{% set settings = settings|merge({'block_3': {
    'icon': 'fas fa-microphone',
    'text': 'ts.example.com'
}}) %}


{% block css %}
    <link rel="stylesheet" href="{{ assets }}/css/grid.min.css"/>
    <link rel="stylesheet" href="{{ assets }}/css/grid-md.min.css" media="all and (min-width: 768px)"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link href="{{ assets_theme }}/css/eris.css?{{ cache_buster }}" rel="stylesheet">
    <style>
        body:before {
            background-image: url({{assets}}/img/backgrounds/global/particles_red.jpg);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="pure-center">

        <!-- player's avatar -->
        <div id="trapezoid">
            <img id="player_avatar" class="avatar small circle"
                 src="{{ user.avatarfull|default(assets ~ '/img/avatar.jpg') }}">
        </div>

        <div id="top-bar" class="center-text">
            <p>You are now playing on <span class="server-name">&lt;server name></span></p>
        </div>

        <!-- main content -->
        <div class="row" style="display:block;height: calc(100% - 45px);overflow: hidden;">

            <!-- rules -->
            <div class="col md-4">
                <h1 style="margin:10px 0;">Rules</h1>
                <div id="k-load-rules"></div>
            </div>

            <div class="col md-8">
                <!-- staff -->
                <h1 style="margin:10px 0;">Staff</h1>
                <div id="k-load-staff"></div>

                <!-- dumb separator -->
                <div class="separator"></div>

                <div id="services">

                    <!-- block #1 -->
                    <div class="type">
                        <i class="{{ settings.block_1.icon }}"></i>
                        <p>{{ settings.block_1.text }}</p>
                    </div>

                    <!-- block #2 -->
                    <div class="type">
                        <i class="{{ settings.block_2.icon }}"></i>
                        <p>{{ settings.block_2.text }}</p>
                    </div>

                    <!-- block #3 -->
                    <div class="type">
                        <i class="{{ settings.block_3.icon }}"></i>
                        <p>{{ settings.block_3.text }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        staff_per_page = 9;
        staff_per_page = 8;
    </script>
{% endblock %}
