<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://steamcdn-a.akamaihd.net">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{{ assets }}/css/loading.css?{{ cache_buster }}">
    {% block css %}{% endblock %}
</head>
<body>
{% if user.custom_css %}
    <style>{{ user.custom_css }}</style>
{% endif %}
{% block body %}{% endblock %}
<script>
    {% set defaultListObject = {'list': []} %}

    var site = {{ site_json }};
    var backgrounds = {{ settings.backgrounds|default({'duration':8000,'fade':750,'enable':0,'random':0})|json_encode|raw }};
    {% if backgrounds.list %}backgrounds.list = {{ backgrounds.list|json_encode|raw }};
    {% else %}backgrounds.list = {};{% endif %}
    var youtube = {{ settings.youtube|default(defaultListObject)|json_encode|raw }};
    var messages = {{ settings.messages|default(defaultListObject)|json_encode|raw }};
    var rules = {{ settings.rules|default(defaultListObject)|json_encode|raw }};
    var staff = {{ settings.staff|default(defaultListObject)|json_encode|raw }};
    var music = {{ settings.music|default({'enable':0,'random':0,'volume':15,'order':[]})|json_encode|raw }};
    var rules_per_page = staff_per_page = 7;
    var rules_fade_delay = staff_fade_delay = 750;
    var forcedGamemode = '{{ forcedGamemode }}';
</script>
{% block js %}{% endblock %}
<script src="{{ assets }}/js/loading-improved.js?{{ cache_buster }}"></script>
</body>
</html>
