{% extends '@loading/base.twig' %}

{% block title %}Magnus | K-Load{% endblock %}



{% block css %}
    <link rel="stylesheet" href="{{ assets }}/css/grid.min.css"/>
    <link rel="stylesheet" href="{{ assets }}/css/basic-grid.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,600" rel="stylesheet">
    <link href="{{ assets_theme }}/css/magnus.css?{{ cache_buster }}" rel="stylesheet">
    <style>
        body:before {
            background-image: url({{assets}}/img/backgrounds/global/particles_pink.jpg);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="overlay dark"></div>
    <div class="pure-center">

        <!-- user info -->
        <div id="top-bar">
            <img class="avatar medium circle" src="{{ user.avatarLarge|default(assets ~ '/img/avatar.jpg') }}">
            <div style="margin-top:4px;line-height:30px;width:calc(100% - 150px);">
                <p class="name">{{ user.name|default('Player') }}</p>
                <p class="messages"></p>
            </div>
        </div>

        <!-- blocks -->
        <!--
            To make the blocks white, remove the 'dark' css class e.g. class="row dark" -> class="row"
        `-->
        <div id="blocks" class="row dark">

            <!-- rules -->
            <div class="col-4">
                <div>
                    <h1>{{ lang('rules') }}</h1>
                    <div id="k-load-rules"></div>
                </div>
            </div>

            <!-- server info -->
            <div class="col-4">
                <div id="server-info">
                    <h1>{{ settings.community_name }}</h1>
                    <div class="center-text"><img style="border-radius:3px;"
                                                  onerror="this.src='https://images.weserv.nl/?url=https://image.gametracker.com/images/maps/160x120/nomap.jpg'"
                                                  src="https://images.weserv.nl/?url=https://image.gametracker.com/images/maps/160x120/{% if map %}{{ 'garrysmod/' ~ map }}{% else %}nomap{% endif %}.jpg"/>
                    </div>
                    <p id="description" class="center-text">{{ settings.description }}</p>
                    <table style="margin-top:10px">
                        <tr>
                            <td>{{ lang('map') }}:</td>
                            <td class="map">{{ map|default('N/A') }}</td>
                        </tr>
                        <tr>
                            <td>{{ lang('gamemode') }}:</td>
                            <td class="gamemode"></td>
                        </tr>
                        <tr>
                            <td>{{ lang('max_players') }}:</td>
                            <td class="max-players"></td>
                        </tr>
                    </table>
                    <hr style="border-color: rgba(255, 255, 255, 0.15)">
                    <div class="center-text">
                        <p class="status" style="overflow: hidden;">Retrieving server info...</p>
                    </div>
                </div>
            </div>

            <!-- staff -->
            <div class="col-4">
                <div>
                    <h1>{{ lang('staff') }}</h1>
                    <div id="k-load-staff"></div>
                </div>
            </div>

        </div>

        <!-- loading bar -->
        <div id="loading-bar-outer">
            <div class="loading-bar"></div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        staff_per_page = 6;
        staff_fade_delay = 500;
    </script>
{% endblock %}
