{% extends 'base.twig' %}

{% block title %}{{ lang('dashboard') }} | K-Load{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1 class="flow-text">{{ lang('welcome_user', user.name) }}</h1>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <p>
                        {{ lang('loading_screen_access_help') }}
                        <br>
                        <a href="{{ site.path }}/?steamid={{ user.steamid }}" target="_blank">{{ site.url }}
                            /?steamid={{ user.steamid }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card stat">
                <div class="card-content">
                    <span class="card-title">{{ lang('your_info') }}</span>
                    <p>{{ lang('steamid') }}: <code>{{ user.steamid }}</code></p>
                    <p>{{ lang('steamid2') }} <code>{{ user.steamid2 }}</code></p>
                    <p>{{ lang('steamid3') }}: <code>{{ user.steamid3 }}</code></p>
                    <br>
                    <p>{{ lang('profile') }}: <a href="{{ user.profileUrl }}"
                                                 target="_blank"
                                                 style="word-break: break-all;word-wrap:break-word;">{{ user.profileurl }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card stat">
                <div class="card-content">
                    <span class="card-title">{{ lang('your_perms') }}</span>
                    {% if user.super %}
                        <p>{{ lang('user_is_super') }}</p>
                    {% else %}
                        <p>{{ lang('admin') }}
                            : {% if user.admin %}{{ lang('yes') }}{% else %}{{ lang('no') }}{% endif %}</p>
                        {% if user.perms|length > 0 %}
                            <br>
                            {% for perm in user.perms %}
                                <p>- {{ lang(perm) }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
