{% extends 'app.twig' %}

{% block title %}Dashboard{% endblock %}

{% block bodyCss %}
    <style>
        [data-copy] {
            cursor: pointer;
        }

        .stat-data {
            font-size: 2rem;
            font-weight: 300;
        }

        .stat-title {
            font-weight: 500;
            text-transform: uppercase;
        }

        .table td:first-child {
            font-weight: 500;
            border-right: 1px solid rgba(255, 255, 255, .15);
        }

        .table.no-border td {
            border: none;
        }

        .table.no-padding td {
            padding: 0;
        }

        .table.no-padding-x td {
            padding-left: 0;
            padding-right: 0;
        }


        .table th {
            color: #6cbdff;
        }

        .table td {
            max-width: 450px;
            white-space: nowrap;
            overflow: auto;
        }

        .header, th.header {
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            padding: 5px 10px;
            margin-left: -.5rem;
            margin-right: -.5rem;
            border-radius: .25rem;
        }

        .card-content {
            position: relative;
        }

        .stat-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1rem;
            font-size: 3rem;
        }

        @media screen and (max-width: 1023px) {
            .stat {
                text-align: center;
            }

            .stat-icon {
                display: none;
            }
        }

        @media screen and (max-width: 1023px) {
            #quick-info {
                order: 1;
            }

            #quick-settings {
                order: 2;
            }
        }


        .columns > .column > .columns {
            margin-top: unset;
            margin-left: unset;
            margin-right: unset;
        }

        .checkbox:hover, .radio:hover {
            color: #bdbdbd;
        }

        .checkbox.is-custom input[type="checkbox"] {
            display: none;
        }

        .checkbox.is-custom:hover {
            color: inherit;
        }

        .checkbox.is-custom {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .checkbox.is-custom .switch {
            position: relative;
            display: inline-block;
            height: 26px;
            width: 48px;
            border-radius: 20px;
            background-color: #4f585d;
            transition: background-color .2s;
        }

        .checkbox.is-custom .switch:before {
            position: absolute;
            top: 3px;
            left: 3px;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            transition: .2s;
        }

        .checkbox.is-custom input[type="checkbox"]:checked + .switch {
            background-color: #6cbdff;
        }

        .checkbox.is-custom input[type="checkbox"]:checked + .switch:before {
            transform: translateX(21px);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container px-4 py-6">
        <div class="columns is-flex-tablet">
            <div class="column is-one-third-tablet">
                <div class="card stat">
                    <div class="card-content">
                        <h1 class="stat-data">100k</h1>
                        <h3 class="stat-title">{{ lang('visits') }}</h3>
                        <i class="fas fa-chart-area stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="column is-one-third-tablet">
                <div class="card stat">
                    <div class="card-content">
                        <h1 class="stat-data">{{ userCount }}</h1>
                        <h3 class="stat-title">{{ lang('users') }}</h3>
                        <i class="fas fa-users stat-icon"></i>
                    </div>
                </div>
            </div>
            <div class="column is-one-third-tablet">
                <div class="card stat">
                    <div class="card-content">
                        <h1 class="stat-data">{{ themes|length }}</h1>
                        <h3 class="stat-title">{{ lang('themes') }}</h3>
                        <i class="fas fa-paint-brush stat-icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-multiline is-mobile">
            <div id="quick-settings" class="column is-full-tablet is-half-desktop">
                <div class="card quick-settings">
                    <div class="card-header-title">
                        {{ lang('quick_settings') }}
                    </div>
                    <div class="card-content">
                        <div class="py-2 mb-4 has-text-centered site-border-radius notice notice-warning">
                            <h1 class="mb-1">{{ lang('quick_settings_notice') }}</h1>
                        </div>

                        <form action="{{ site.current }}" method="post">
                            {{ csrf }}

                            <div class="columns is-multiline">
                                <div class="column is-full mb-2">
                                    <h1 class="header">{{ lang('general') }}</h1>
                                    <div class="pt-4">
                                        <div class="field is-horizontal">
                                            <div class="field-label is-normal">
                                                <label class="label">{{ lang('theme') }}</label>
                                            </div>
                                            <div class="field-body">
                                                <div class="select">
                                                    <select name="theme">
                                                        {% for theme in themes %}
                                                            <option value="{{ theme }}"
                                                                    {% if theme is same as(loading_theme) %}selected{% endif %}>{{ theme }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        {% if can('community_name') %}
                                            <div class="field is-horizontal">
                                                <div class="field-label">
                                                    <label class="label">{{ lang('community_name') }}</label>
                                                </div>
                                                <div class="field-body">
                                                    <input class="input" type="text" name="community_name"
                                                           value="{{ old.community_name|default(settings.community_name) }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                {% if can('backgrounds') %}
                                    <div class="column is-full mb-2">
                                        <h1 class="header">{{ lang('backgrounds') }}</h1>
                                        <div class="pt-1 columns is-multiline">
                                            <div class="column is-half-tablet">
                                                <div class="field">
                                                    <div class="field-body">
                                                        <label class="checkbox is-custom">
                                                            Enable?
                                                            <input type="checkbox" value="1" name="backgrounds[enable]"
                                                                   {% if old.backgrounds.enable|default(settings.backgrounds.enable) %}checked{% endif %}>
                                                            <span class="switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-half-tablet">
                                                <div class="field">
                                                    <div class="field-body">
                                                        <label class="checkbox is-custom">
                                                            Randomize?
                                                            <input type="checkbox" value="1" name="backgrounds[random]"
                                                                   {% if old.backgrounds.random|default(settings.backgrounds.random) %}checked{% endif %}>
                                                            <span class="switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="column is-half-tablet">
                                                <div class="field is-horizontal">
                                                    <div class="field-label is-normal">
                                                        <label class="label">{{ lang('duration') }}</label>
                                                    </div>
                                                    <div class="field-body">
                                                        <input class="input" type="number" name="backgrounds[duration]"
                                                               value="{{ old.backgrounds.duration|default(settings.backgrounds.duration) }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-half-tablet">
                                                <div class="field is-horizontal">
                                                    <div class="field-label is-normal">
                                                        <label class="label">{{ lang('fade') }}</label>
                                                    </div>
                                                    <div class="field-body">
                                                        <input class="input" type="number" name="backgrounds[fade]"
                                                               value="{{ old.backgrounds.fade|default(settings.backgrounds.fade) }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if can('music') %}
                                    <div class="column is-full">
                                        <h1 class="header">{{ lang('music') }}</h1>
                                        <div class="pt-1 columns is-multiline">
                                            <div class="column is-half-tablet">
                                                <div class="field">
                                                    <div class="field-body">
                                                        <label class="checkbox is-custom">
                                                            Enable?
                                                            <input type="checkbox" value="1" name="music[enable]"
                                                                   {% if old.music.enable|default(settings.music.enable) %}checked{% endif %}>
                                                            <span class="switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-half-tablet">
                                                <div class="field">
                                                    <div class="field-body">
                                                        <label class="checkbox is-custom">
                                                            Randomize?
                                                            <input type="checkbox" value="1" name="music[random]"
                                                                   {% if old.music.random|default(settings.music.random) %}checked{% endif %}>
                                                            <span class="switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="column is-full">
                                                <div class="field">
                                                    <div class="field-body">
                                                        <label class="checkbox is-custom">
                                                            Respect Player's Volume?
                                                            <input type="checkbox" value="1"
                                                                   name="music[use_player_volume]">
                                                            <span class="switch"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="column is-full">
                                                <div class="field is-horizontal">
                                                    <div class="field-label" style="text-align: left">
                                                        <label class="label">{{ lang('volume') }}</label>
                                                    </div>
                                                    <div class="field-body">
                                                        <input class="slider" type="range" name="music[volume]"
                                                               style="width: 100%"
                                                               value="{{ old.music.volume|default(settings.music.volume) }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endif %}
                            </div>

                            <div class="has-text-centered">
                                <button class="button">{{ lang('save') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="quick-info" class="column is-full-tablet is-half-desktop">
                <div class="card">
                    <div class="card-header-title">{{ lang('quick_info') }}</div>
                    <div class="card-content">
                        {# border: 1px solid;border-color: #ff4f43;background: rgb(242 43 29 / 0.6); #}
                        <div class="py-2 mb-4 has-text-centered site-border-radius notice notice-danger">
                            <h1 class="mb-1">{{ lang('quick_info_copy_notice') }}
                                <code>garrysmod/cfg/server.cfg</code></h1>
                            <code data-copy title="Click to copy">
                                {{ 'sv_loadingurl "' ~ site.url ~ '?steamid=%s&mapname=%m"' }}
                            </code>
                        </div>
                        <table class="table is-fullwidth">
                            <tbody>
                            <tr>
                                <td>{{ lang('version') }}</td>
                                <td>
                                    {{ app.version }}
                                </td>
                            </tr>
                            <tr>
                                <td>{{ lang('loading_url') }}</td>
                                <td>
                                    {{ include('@partials/external-link.twig', {link: site.url}) }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const updateTextInput = (e) => {
            let el = e.target || e;
            let target = document.getElementById(el.getAttribute('data-target'));

            if (target) {
                target.innerText = el.value;
            }
        }

        let inputs = document.querySelectorAll('input.updateText');

        inputs.forEach((item, index) => {
            updateTextInput(item);
            item.addEventListener('input', updateTextInput);
        });
    </script>
{% endblock %}