{% extends 'app.twig' %}

{% block title %}Users{% endblock %}

{% block bodyCss %}
    <style>
        .user-card {
            border: 2px solid transparent;
            transition: all .2s ease;
        }

        .user-card:hover {
            /*background-color: #1d72aa;*/
            background-color: #293237;
            border-color: #1d72aa;
        }

        .user-card:active {
            color: #fff;
            background-color: #1d72aa;
            /*background-color: #293237;*/
        }

        .avatar-only {
            font-size: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container px-4 py-6">
        {% include '@partials/pagination.twig' with {'paginator': users, 'pageList': usersPageList} %}

        <div class="columns is-multiline">
            {% for user in users %}
                <div class="column is-one-quarter-desktop is-one-third-tablet">
                    <a href="{{ route('dashboard/user/?', user.id) }}">
                        <div class="card user-card">
                            <div class="card-content">
                                <div class="is-flex is-align-items-center">
                                    <div class="avatar-only" style="width: 25%">
                                        <img class="avatar medium"
                                             src="{{ steamInfo['player-' ~ user.steamid].avatarmedium|default(asset('img/avatar.jpg')) }}">
                                    </div>
                                    <div class="pl-4" style="width: 75%">
                                        {% if steamInfo['player-' ~ user.steamid].personaname %}
                                            <p>{{ steamInfo['player-' ~ user.steamid].personaname }}</p>
                                        {% else %}
                                            <p>{{ user.name|default('Unknown') }}</p>
                                        {% endif %}
                                        <p>{{ user.steamid2 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        {% include '@partials/pagination.twig' with {'paginator': users, 'pageList': usersPageList} %}
    </div>
{% endblock %}