{% block vars %}{% endblock %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content="{{ csrf_token() }}"/>
    {% block head %}{% endblock %}
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://steamcdn-a.akamaihd.net">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css"/>
    {% block css_head %}{% endblock %}
    <link rel="stylesheet" href="{{ theme_asset('css/site-improved.css') }}">
</head>
<body>
{% block css_body %}{% endblock %}
{% block body %}
    <div style="z-index: 9999999;padding: 8px 0 8px 225px;width: 100%;background-color: #d02e2e;text-align: center;">
        <h6 style="margin: 0;">Demo site is the same as my local dev, not all things may work</h6>
    </div>
    <header>
        <nav class="top-nav">
            <div class="nav-wrapper">
                <h3 class="header" style="margin: 0">{% block nav_title %}K-Load{% endblock %}</h3>
            </div>
        </nav>
        {% include '@partials/navigation.twig' %}
    </header>
    <main>
        <div class="container">{{ csrf() }}{% block content %}{% endblock %}</div>
    </main>
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% if (site.url ~ '/dashboard/settings') == site.current %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/css/css.js"></script>
{% endif %}
<script>
    var site = {{ site_json }};
    var alert = '{{ alert }}';

    $(document).ready(function () {
        $('.sidenav').sidenav({});
        $('.collapsible').collapsible();
        $('.tooltipped').tooltip();
    });
</script>
<script src="{{ theme_asset('js/site.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>
