<aside class="sideNav sideNav-fixed menu">
    <div class="has-text-centered">
        <h1 class="logo-text" style="margin-top: .25em">K-Load</h1>
    </div>
    <div class="userInfo has-text-centered">
        <img class="avatar medium" src="{{ user.avatarMedium|default(asset('img/avatar.jpg')) }}">
{#        <a href="{{ user.profileUrl|default('https://steamcommunity.com/profiles/' ~ user.steamid) }}" target="_blank" rel="nofollow"></a> #}
        <h1 class="name">{{ user.name|default(user.steamid) }}</h1>
        {{ include('@partials/external-link.twig', {link: user.profileUrl|default('https://steamcommunity.com/profiles/' ~ user.steamid), text: user.steamid2, classes: ['steamid2']}) }}
    </div>
    <div>
        <div class="menu-section">
            <p class="menu-label">
                {{ lang('general') }}
            </p>
            <ul class="menu-list">
                {{ include('@partials/sideNavLink.twig', {route: 'dashboard', icon: 'home', name: 'dashboard'}) }}
                {{ include('@partials/sideNavLink.twig', {route: 'dashboard/my-settings', icon: 'user-cog', name: 'my_settings'}) }}
                {{ include('@partials/sideNavLink.twig', {route: 'dashboard/users', icon: 'users', name: 'users'}) }}
            </ul>
        </div>
        {% if user.admin %}
            <div class="menu-section">
                <a href="{{ route('dashboard/admin') }}">
                    <p class="menu-label" style="margin-bottom: 1em">
                        {{ lang('administration') }}
                    </p>
                </a>
                <ul class="menu-list">
                    {% if user.super %}
                        {{ include('@partials/sideNavLink.twig', {route: 'dashboard/admin/core', icon: 'wrench', name: 'core'}) }}
                    {% endif %}
                    {% if can('community_name') or can('description') %}
                        {{ include('@partials/sideNavLink.twig', {route: 'dashboard/admin/general', icon: 'sliders-h', name: 'general'}) }}
                    {% endif %}
                    {% if can('backgrounds') %}
                        {{ include('@partials/sideNavLink.twig', {route: 'dashboard/admin/backgrounds', icon: 'images', name: 'backgrounds'}) }}
                    {% endif %}
                    {% if can('messages') %}
                        {{ include('@partials/sideNavLink.twig', {route: 'dashboard/admin/messages', icon: 'comment-alt', name: 'messages'}) }}
                    {% endif %}
                    {% if can('music') %}
                        {{ include('@partials/sideNavLink.twig', {route: 'dashboard/admin/music', icon: 'headphones', name: 'music'}) }}
                    {% endif %}
                    {% if can('rules') %}
                        {{ include('@partials/sideNavLink.twig', {route: 'dashboard/admin/rules', icon: 'list-ol', name: 'rules'}) }}
                    {% endif %}
                    {% if can('staff') %}
                        {{ include('@partials/sideNavLink.twig', {route: 'dashboard/admin/staff', icon: 'user-tie', name: 'staff'}) }}
                    {% endif %}
                    {% if can('themes') %}
                        {{ include('@partials/sideNavLink.twig', {route: 'dashboard/admin/themes', icon: 'paint-brush', name: 'themes'}) }}
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    <ul class="menu-list" style="margin: auto 0">
        <li>
            <form>

            </form>
            <a style="color: #FF5050"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
    </ul>
</aside>