{% block vars %}{% endblock %}
<!doctype html>
<html lang="{{ app.lang|default('en') }}">
<head>
    <title>{% block title %}{% endblock %} | K-Load</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}"/>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    {# <link rel="stylesheet" href="{{ asset('css/bulma.css') }}"> #}
    {# <link rel="stylesheet" href="{{ asset('css/fa/5.14.0.css') }}"> #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="{{ theme_asset('css/site.css', true) }}">
    {% block headCss %}{% endblock %}
</head>
<body>
<style>
    body:before {
        background-image: url({{ asset('img/shapes-repeat-bg-2.png') }});
        opacity: .5;
    }
</style>
{% block bodyCss %}{% endblock %}
{% block body %}{% endblock %}
<input id="copyBox" class="is-hidden">
{% block bodyJs %}{% endblock %}
<script>
    const toastMessages = {{ flash.messages|default([])|json_encode|raw }};
</script>
<script src="{{ theme_asset('js/app.js') }}"></script>
</body>
</html>