{% extends '@loading/base.twig' %}

{% block title %}Stripped | K-Load{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ app.url }}/themes/metra/assets/css/grid.css"/>
    <link href="{{ assets_theme }}/css/stripped.css?{{ cache_buster }}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700">
    <style>
        body:before {
            background-image: url({{assets}}/img/backgrounds/global/particles_green.jpg);
        }
    </style>
{% endblock %}


{% block body %}
    <div class="overlay"></div>

    <div id="container" class="pure-center">
        <div class="header block">
            <div class="block-content" style="padding: 25px;">
                <h1 style="font-size: 4rem;">{{ settings.community_name }}</h1>
            </div>
        </div>

        <div class="row">
            <div id="left-column" class="col xl-4">
                <!-- staff -->
                <div class="block">
                    <div class="block-content" style="padding: 0;">
                        <h2 class="bold" style="padding: 15px 10px;text-transform: uppercase;">{{ lang('staff') }}</h2>
                        <div id="k-load-staff"></div>
                    </div>
                </div>

                <!-- about us -->
                <div class="block">
                    <div class="block-content" style="padding: 0;">
                        <h2 class="bold"
                            style="padding: 15px 10px;text-transform: uppercase;">{{ lang('about_us') }}</h2>
                        <div style="padding: 10px">
                            <p>{{ settings.description }}</p>
                        </div>
                    </div>
                </div>

                <!-- progress -->
                <div class="block">
                    <div class="block-content center-text">
                        <p class="messages"></p>
                    </div>
                </div>
            </div>

            <div id="middle-column" class="col xl-4">
                <div class="block">
                    <div class="block-content" style="padding: 0;">
                        <h2 class="bold"
                            style="padding: 15px 10px;text-transform: uppercase;">{{ lang('server_rules') }}</h2>
                        <div id="k-load-rules"></div>
                    </div>
                </div>
            </div>

            <div id="right-column" class="col xl-4">
                <!-- player -->
                <div class="block">
                    <div class="block-content center-text">
                        <img class="player avatar circle"
                             src="{{ user.avatarLarge|default(assets ~ '/img/avatar.jpg') }}">
                        <h3>{{ user.name|default(lang('welcome')) }}</h3>
                        <p>{{ user.steamid2 }}</p>
                    </div>
                </div>

                <!-- info -->
                <div class="block">
                    <div class="block-content" style="padding: 0;">
                        <h2 class="bold"
                            style="padding: 15px 10px;text-transform: uppercase;">{{ lang('server_info') }}</h2>
                        <div class="info">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="fa-svg-icon">
                                <path fill="currentColor"
                                      d="M480 160H32c-17.673 0-32-14.327-32-32V64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm112 248H32c-17.673 0-32-14.327-32-32v-64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm112 248H32c-17.673 0-32-14.327-32-32v-64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24z"
                                      class=""></path>
                            </svg>
                            <span class="server-name"></span>
                        </div>
                        <div class="info">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="fa-svg-icon">
                                <path fill="currentColor"
                                      d="M480 96H160C71.6 96 0 167.6 0 256s71.6 160 160 160c44.8 0 85.2-18.4 114.2-48h91.5c29 29.6 69.5 48 114.2 48 88.4 0 160-71.6 160-160S568.4 96 480 96zM256 276c0 6.6-5.4 12-12 12h-52v52c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-52H76c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h52v-52c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h52c6.6 0 12 5.4 12 12v40zm184 68c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-80c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48z"
                                      class=""></path>
                            </svg>
                            <span class="gamemode"></span>
                        </div>
                        <div class="info">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="fa-svg-icon">
                                <path fill="currentColor"
                                      d="M288 0c-69.59 0-126 56.41-126 126 0 56.26 82.35 158.8 113.9 196.02 6.39 7.54 17.82 7.54 24.2 0C331.65 284.8 414 182.26 414 126 414 56.41 357.59 0 288 0zm0 168c-23.2 0-42-18.8-42-42s18.8-42 42-42 42 18.8 42 42-18.8 42-42 42zM20.12 215.95A32.006 32.006 0 0 0 0 245.66v250.32c0 11.32 11.43 19.06 21.94 14.86L160 448V214.92c-8.84-15.98-16.07-31.54-21.25-46.42L20.12 215.95zM288 359.67c-14.07 0-27.38-6.18-36.51-16.96-19.66-23.2-40.57-49.62-59.49-76.72v182l192 64V266c-18.92 27.09-39.82 53.52-59.49 76.72-9.13 10.77-22.44 16.95-36.51 16.95zm266.06-198.51L416 224v288l139.88-55.95A31.996 31.996 0 0 0 576 426.34V176.02c0-11.32-11.43-19.06-21.94-14.86z"
                                      class=""></path>
                            </svg>
                            <span class="map"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        rules_per_page = 8;
        staff_per_page = 2;
    </script>
{% endblock %}
