{% extends 'base.twig' %}

{% block title %}{{ lang('music') }} | K-Load{% endblock %}
{% block nav_title %}{{ lang('music') }}{% endblock %}

{% block css_body %}
    <style>
        .card-content {
            position: relative;
        }

        .cat.delete-elem {
            z-index: 1;
            cursor: pointer;
            position: absolute;
            top: 6px;
            right: 6px;
            width: 28px;
            height: 28px;
            background-color: transparent;
            font-size: 1.25rem;
            border: none;
            border-radius: 50%;
        }

        .add-elem[data-type="song"] {
            margin-top: 8px;
        }
    </style>
{% endblock %}
{% block content %}
    {% include '@partials/gamemode-examples.twig' %}

    <div class="row" style="margin-top: 15px;">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <h1 class="flow-text"><span class="mdi mdi-settings"></span>{{ lang('music_general_options') }}</h1>
                    <form id="save-music-general" method="post" action="{{ site.path }}/dashboard/admin/music"
                          class="row">
                        {{ csrf() }}
                        <div>
                            <div class="switch col s6">
                                <p>
                                    {{ lang('enable') }}?
                                </p>
                                <label>
                                    {{ lang('no') }}
                                    <input type="checkbox" name="music[enable]" value="1"
                                           {% if music.enable %}checked{% endif %} />
                                    <span class="lever"></span>
                                    {{ lang('yes') }}
                                </label>
                            </div>
                            <div class="switch col s6">
                                <p>
                                    {{ lang('randomize') }}?
                                </p>
                                <label>
                                    {{ lang('no') }}
                                    <input type="checkbox" name="music[random]" value="1"
                                           {% if music.random %}checked{% endif %} />
                                    <span class="lever"></span>
                                    {{ lang('yes') }}
                                </label>
                            </div>
                            <div class="input-field col s12">
                                {{ lang('volume') }}
                                <p class="range-field">
                                    <input type="range" id="volume" min="0" max="100" name="music[volume]"
                                           value="{{ music.volume|default(15) }}"/>
                                </p>
                            </div>
                            <div class="input-field col s12">
                                <select name="music[source]" class="materialize-select">
                                    <option value="youtube"
                                            {% if music.source == 'youtube' %}selected{% endif %}>{{ lang('youtube') }}
                                    </option>
                                    <option value="soundcloud" disabled
                                            {% if settings.music.source == 'soundcloud' %}selected{% endif %}>SoundCloud
                                        (not added yet)
                                    </option>
                                    <option value="files"
                                            {% if music.source == 'files' %}selected{% endif %}>{{ lang('music_files') }}
                                    </option>
                                </select>
                                <label>{{ lang('music_source') }}</label>
                            </div>
                        </div>

                        <div class="center">
                            <button class="btn" data-position="top" type="submit" name="save"
                                    value="1">{{ lang('save_music') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <h1 class="flow-text"><span class="mdi mdi-upload"></span> {{ lang('upload_music') }}</h1>
                    <form id="music-upload" enctype="multipart/form-data" method="post"
                          action="{{ site.path }}/dashboard/admin/music/upload">
                        {{ csrf() }}

                        {% include '@partials/upload-limits.twig' %}

                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File(s)</span>
                                <input name="music_files[]" type="file" accept="audio/ogg,.ogg" required multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" onchange="newlineFileNames(this)">
                            </div>
                        </div>
                        <div class="center">
                            <button class="btn" type="submit">
                                Upload
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col s12">
            <h1 class="flow-text"><span class="mdi mdi-format-list-checks"></span>
                {{ lang('songs_to_play') }}
                <small>(duplicate songs will get removed when saving)</small>
            </h1>
        </div>

        <form method="post" action="{{ site.path }}/dashboard/admin/music/save-order" id="music_categories" class="row"
              style="margin-bottom: 0">
            {% for gamemode, songs in music.order %}
                <div class="col s12 child">
                    <div class="card">
                        <span class="mdi mdi-close red-text delete-elem cat"></span>
                        <div class="card-content">
                            <label>{{ lang('gamemode') }}</label>
                            <input class="gamemode" type="text" placeholder="gamemode" oninput="fixGamemode(this)"
                                   value="{{ gamemode }}" required/>
                            <label>{{ lang('songs_to_play') }}</label>
                            <div id="music_song_list">
                                {% for song in songs %}
                                    <div class="input-field child">
                                        {% include '@partials/music-order-select.twig' %}
                                        <a class="btn-floating delete-elem red tooltipped"
                                           data-tooltip="{{ lang('remove') }}">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="btn add-elem" data-type="song"
                               data-parent="#music_song_list">{{ lang('add_song') }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </form>

        <div class="col s12 center" style="margin-bottom: 15px">
            <a class="btn green add-elem" data-type="music_cat"
               data-parent="#music_categories">{{ lang('add_gamemode') }}</a>
        </div>
        <div class="col s12 center" style="margin-bottom: 15px">
            <button class="btn tooltipped" data-position="top" data-tooltip="{{ lang('save') }}" type="submit"
                    name="save" value="1" form="music_categories">{{ lang('save_music_order') }}</button>
        </div>

        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h1 class="flow-text"><span class="mdi mdi-music"></span>{{ lang('music_files') }}</h1>

                    {% if music_files is empty %}
                        <div class="center">
                            <h5 style="font-style: italic;">No music has been uploaded</h5>
                        </div>
                    {% else %}
                        <div id="music_files" class="row">
                            {% for file in music_files %}
                                <div id="{{ file.row_id }}" class="col s12" data-file="{{ file.filename }}">
                                    <h5 class="song-title truncate">
                                        <a class="blue-text link--hover" href="{{ file.url }}"
                                           target="_blank">{{ file.name }} <i class="mdi mdi-open-in-new"></i></a>
                                    </h5>
                                    <div class="valign-wrapper right">
                                        <a class="btn-floating delete-song red"><i class="mdi mdi-delete"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h1 class="flow-text"><span class="mdi mdi-youtube-play"></span>{{ lang('youtube') }}</h1>
                    <form id="save-youtube" method="post" action="{{ site.path }}/dashboard/admin/music/youtube">
                        {{ csrf() }}
                        <div id="yt_vids">
                            {% for youtube_id in youtube.list %}
                                <div class="input-field child">
                                    <input type="text" name="youtube[list][]" placeholder="{{ lang('youtube') }} URL"
                                           value="https://www.youtube.com/watch?v={{ youtube_id }}"
                                           style="width: calc(100% - 45px);">
                                    <a class="btn-floating delete-elem red tooltipped"
                                       data-tooltip="{{ lang('delete') }}"><i class="mdi mdi-delete"></i></a>
                                </div>
                            {% endfor %}
                        </div>
                        <div>
                            <a class="btn green add-elem" data-type="youtube" data-parent="#yt_vids"><span
                                        class="mdi mdi-plus"></span>{{ lang('add_video') }}</a>
                        </div>
                        <div class="center">
                            <button class="btn tooltipped" data-position="top" data-tooltip="{{ lang('save') }}"
                                    type="submit"
                                    name="save"
                                    value="1">{{ lang('save_youtube') }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var music_files = {{ music_files_json }};
        var music_files_select = elem('select', {className: 'materialize-select', name: 'music[order][]'});

        for (let i = 0; i < music_files.length; i++) {

            music_files_select.appendChild(elem('option', {
                value: music_files[i].filename,
                innerText: music_files[i].name
            }));
        }

        var fixGamemode = debounce(function (elem) {
            let gamemode = elem.value;

            if (gamemode.length <= 0) {
                return;
            }

            let children = $('#music_song_list').find('select');

            if (children.length <= 0) {
                return;
            }

            children.each(function (index, child) {
                child.name = 'music[order][' + gamemode + '][]';
            });
        }, 250);

        function createElem_song() {
            let clone = music_files_select.cloneNode(true);

            return elem('div', {className: 'input-field child'}, clone, elem('a', {
                className: 'btn-floating delete-elem red tooltipped',
                'data-tooltip': "{{ lang('remove') }}"
            }, elem('i', {className: 'mdi mdi-delete'})));
        }

        function createElemCallback_song(elem) {
            //let gamemode = 'global';

            let gamemodeInput = $(elem).parent().parent().find('.gamemode');
            if (gamemodeInput.val().length === 0) {
                gamemodeInput.val('global');
                toast('Gamemode not entered, defaulting to `global`')
            }

            let gamemode = gamemodeInput.val();

            let select = elem.getElementsByTagName('select')[0];
            select.name = 'music[order][' + gamemode + '][]';

            M.FormSelect.init(select, {
                dropdownOptions: {
                    coverTrigger: false
                }
            });
        }

        function deleteSongEventInit() {
            $('.delete-song').on('click.deletesong', function () {
                let confirm = window.confirm('Are you sure you want to delete this?');
                let parent = $(this).parent().parent();
                let file = parent.data('file');

                if (confirm && file && file.length) {
                    let url = site.current;
                    if (url.substr(-1) === '/') {
                        url = url.substr(0, url.length - 1);
                    }

                    url = url + '/delete';

                    // todo
                    $.post(url, {file}, function (data) {
                        if (data.success) {
                            parent.fadeOut(function () {
                                this.remove()
                            });
                            toast('The list of available songs has changed, you will<br>need to refresh the page to see them in the list', 3000, 'orange');
                        }

                        toast(data.message, 5000, (data.success ? 'green' : 'red'));
                    })
                }
            });
        }

        function deleteSongEventRemove() {
            $('.delete-song').off('click.deletesong');
        }

        deleteSongEventInit();

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.materialize-select');
            M.FormSelect.init(elems, {
                dropdownOptions: {
                    coverTrigger: false
                }
            });
        });


        function createElem_music_cat() {
            return elem('div', {className: 'col s12 child'},
                elem('div', {className: 'card'},
                    elem('span', {className: 'mdi mdi-close red-text delete-elem cat'}),
                    elem('div', {className: 'card-content'},
                        elem('label', {innerText: '{{ lang('gamemode') }}'}),
                        elem('input', {
                            className: 'gamemode',
                            type: 'text',
                            placeholder: 'gamemode',
                            oninput: 'fixGamemode(this)',
                            required: ''
                        }),
                        elem('label', {innerText: '{{ lang('songs_to_play') }}'}),
                        elem('div', {id: 'music_song_list'}),
                        elem('a', {
                            className: 'btn add-elem',
                            'data-type': 'song',
                            'data-parent': '#music_song_list',
                            innerText: '{{ lang('add_song') }}'
                        }),
                    )
                )
            );
        }

        function createElem_youtube() {
            return elem('div', {className: 'input-field child'},
                elem('input', {
                    type: 'text',
                    name: 'youtube[list][]',
                    placeholder: '{{ lang('youtube') }} URL',
                    style: 'width: calc(100% - 45px);'
                }),
                elem('a', {className: 'btn-floating delete-elem red'},
                    elem('i', {className: 'mdi mdi-delete'})
                )
            );
        }

        var recentClone = null;
        var previousClone = null;

        function createElem_musicSelect() {
            recentClone = music_files_select.cloneNode(true);

            return elem('div', {className: 'input-field child'}, recentClone, elem('a', {
                className: 'btn-floating delete-elem red tooltipped',
                'data-tooltip': "{{ lang('remove') }}"
            }, elem('i', {className: 'mdi mdi-delete'})));
        }

        function createElemCallback_musicSelect() {
            if (recentClone !== previousClone) {
                $(recentClone).formSelect();
                previousClone = recentClone;
            }
        }

        function newlineFileNames(elem) {
            let names = elem.value.split(',');
            elem.value = names.join('<br>');

            console.log(elem.value);
        }
    </script>
{% endblock %}