{% extends 'base.twig' %}

{% block title %}{{ lang('themes') }} | K-Load{% endblock %}
{% block nav_title %}{{ lang('themes') }}{% endblock %}

{% macro files(files) %}
    {% for name,file in files %}
        <li data-type="file" data-file="{{ file }}"><span class="mdi mdi-file-document"> {{ name }}</span></li>
    {% endfor %}
{% endmacro %}

{% macro folders(folders) %}
    {% for name,data in folders %}
        <li data-type="folder">
            <span class="mdi mdi-folder"> {{ name }}</span>
            {% import _self as recursive %}
            <ul class="browser-default">
                {% if data.folders|length > 0 %}
                    {{ recursive.folders(data.folders) }}
                {% endif %}
                {% if data.files|length > 0 %}
                    {{ recursive.files(data.files) }}
                {% endif %}
            </ul>
        </li>
    {% endfor %}
{% endmacro %}

{% block content %}
    <div class="row">
        <div class="col xl4">
            <ul class="browser-default">
                {% import _self as mac %}
                {{ mac.folders(themeFiles.folders) }}
                {{ mac.files(themeFiles.files) }}
            </ul>
        </div>
        <div class="col xl8">
            <div>
                <code>editor goes here</code>
            </div>
        </div>
    </div>
{% endblock %}