{% extends '@loading/base.twig' %}

{% block title %}Neuron | K-Load{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo:300,400,700">
    <link rel="stylesheet" href="{{ assets_theme }}/css/neuron.css?{{ cache_buster }}">
    <style>
        .hexagon-inner-2 {
            background-image: url({{ user.avatarLarge|default(assets ~ '/img/avatar.jpg') }});
        }

        body:before {
            background-image: url({{assets}}/img/backgrounds/global/particles_red.jpg);
        }

    </style>
{% endblock %}

{% block body %}
    <div class="overlay dark dots"></div>
    <div class="pure-center">
        <div id="avatarblock">
            <div id="hexblock">
                <div class="hexagon avatar">
                    <div class="hexagon-inner-1">
                        <div class="hexagon-inner-2"></div>
                    </div>
                </div>
            </div>
            <div id="polygon">
                <svg id="polygon_img" width="175" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 173.21 200">
                    <polygon points="0 50 0 150 86.6 200 173.21 150 173.21 50 86.6 0 0 50"/>
                </svg>
            </div>
        </div>

        <div style="margin-bottom: 20px">
            <h1 id="steam_name">{{ user.name|default(lang('welcome')) }}</h1>
            {% if user.steamid2 %}
                <h3 id="steamid">{{ user.steamid2 }}</h3>
            {% endif %}
        </div>

        <div style="margin-top: 20px">
            <div id="loading-bar-container">
                <div class="loading-bar"></div>
            </div>
            <span class="status">Retrieving server info...</span>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function GameDetails_custom() {
            if (isGmod) {
                document.getElementById('polygon').classList.add('in-gmod');
            }
        }

        const polygonElem = document.getElementById("polygon");

        function progressCallback(decimal, percentage, roundedPercentage) {
            if (roundedPercentage <= 98) {
                roundedPercentage = roundedPercentage + ((100 - roundedPercentage) * 0.025);
            }

            var polygonHeight = polygonElem.offsetHeight;
            var imageClip = polygonHeight - (roundedPercentage / 100 * polygonHeight);

            polygonElem.setAttribute("style", "clip: rect(" + imageClip + "px " + polygonHeight + "px " + polygonHeight + "px 0);");
        }
    </script>
{% endblock %}
