{% extends '@loading/base.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700">
    <link rel="stylesheet" href="{{ assets_theme }}/css/slick.css?{{ cache_buster }}"/>
    <style>
        body:before {
            background-image: url({{assets}}/img/backgrounds/global/particles_red.jpg);
        }
    </style>
{% endblock %}
{% block body %}
    <div class="overlay dots"></div>

    <div id="info-block" class="fixed top left">
        <h1 class="community-name">{{ settings.community_name }}</h1>
        <p>{{ lang('we_are_currently_playing', ['<b><span class="gamemode"></span></b>', '<b><span class="map"></span></b>'], true) }}</p>
    </div>

    <div class="pure-center">
        <p class="status">Retrieving server info...</p>
        <div id="loading-bar-outer">
            <div class="loading-bar"></div>
        </div>
        <p class="messages"></p>
    </div>

    <div id="music-block" class="fixed bottom left">
        <p style="margin:0 0 5px 0;">{{ lang('you_are_now_listening_to') }}</p>
        <p class="youtube-playing-title"></p>
    </div>
{% endblock %}
