{% extends '@loading/base.twig' %}

{% block title %}Metra | K-Load{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ assets_theme }}/css/grid.css"/>
    <link rel="stylesheet" href="{{ assets_theme }}/css/columns/large.css" media="all and (max-width: 991.98px)"/>
    <link rel="stylesheet" href="{{ assets_theme }}/css/columns/medium.css" media="all and (max-width: 565.98px)"/>
    <link rel="stylesheet" href="{{ assets_theme }}/css/columns/small.css" media="all and (max-width: 555.98px)"/>
    <link rel="stylesheet" href="{{ assets_theme }}/css/columns/extra-small.css" media="all and (max-width: 459.98px)"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ assets_theme }}/css/metra.css?{{ cache_buster }}"/>
    <style>
        body:before {
            background-image: url({{assets}}/img/backgrounds/global/particles_red.jpg);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="pure-center">
        <div class="row">
            <div class="col xl-12 user-bar" style="text-align:right;">
                {% if settings.logo and logo_exists %}
                    <img class="logo" src="{{ assets }}/img/{{ settings.logo }}">
                {% endif %}
                <div style="margin-right: 10px">
                    <p style="margin-bottom: 4px;font-size: 1.35rem;">{{ user.personaname|default(lang('welcome')) }}</p>
                    {% if user.steamid2 %}
                        <p style="font-size: .85rem;font-weight: 300;">{{ user.steamid2 }}</p>
                    {% endif %}
                </div>
                <img class="avatar" src="{{ user.avatarfull|default(assets ~ '/img/avatar.jpg') }}"
                     style="max-width:75px;">
            </div>
            <div class="col xl-3 hide-md">
                <div class="card server-info blue">
                    <h2><i class="fas fa-gamepad"></i> {{ lang('gamemode') }}</h2>
                    <p class="gamemode" style="font-size: 1.2rem;"></p>
                    <br>
                    <h2><i class="fas fa-users"></i> {{ lang('max_players') }}</h2>
                    <p class="max-players" style="font-size: 1.2rem;"></p>
                </div>
            </div>
            <div class="col xl-3 md-6">
                <div class="card map-info"
                     style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25) ), url('https://images.weserv.nl/?url=https://image.gametracker.com/images/maps/160x120/{% if map %}{{ 'garrysmod/' ~ map }}{% else %}nomap{% endif %}.jpg') no-repeat center center / cover;">
                    <h2><i class="fas fa-map"></i> {{ lang('map') }}</h2>
                    <p>{{ map|default('N/A') }}</p>
                </div>
            </div>
            <div class="col xl-6 hide-md">
                <div class="card news orange">
                    <h2><i class="fas fa-comment-alt"></i> {{ lang('messages') }}</h2>
                    <p class="messages" style="margin-top: 25px;font-size: 1.5rem;"></p>
                </div>
            </div>
            <div class="col xl-6 md-12 hide-lg">
                <div class="card rules dark-blue">
                    <h2><i class="fas fa-gavel"></i> {{ lang('rules') }}</h2>
                    <div id="k-load-rules"></div>
                </div>
            </div>
            <div class="col xl-3 hide-lg">
                <div class="card staff magneta">
                    <h2><i class="fas fa-users"></i> {{ lang('staff') }}</h2>
                    <div id="k-load-staff"></div>
                </div>
            </div>
            <div class="col xl-3 md-6 hide-lg show-md">
                <div class="card music green">
                    <h2><i class="fas fa-music"></i> {{ lang('music') }}</h2>
                    <p class="youtube-playing-title"></p>
                    <p class="youtube-playing-author"></p>
                </div>
            </div>
            <div class="col xl-6 hide-md">
                <div class="card server green">
                    <h2><i class="fas fa-server"></i> <span class="server-name"></span></h2>
                    <p style="font-size:1.2rem;">{{ settings.description }}</p>
                </div>
            </div>
            <div class="col xl-6 md-12">
                <div class="card download purple text-right">
                    <div>
                        <h2 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><i
                                    class="fas fa-circle-notch fa-spin"></i> <span class="status">Retrieving server info...</span>
                        </h2>
                        <p>{{ lang('progress') }} [ <span class="progress"></span> ]</p>
                        <p>{{ lang('files') }}: <span class="files-downloaded"></span>/<span
                                    class="files-needed"></span></p>
                        <div class="loading-bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        staff_per_page = 2;
        rules_per_page = 5;
        staff_fade_delay = 500;
    </script>
{% endblock %}
